
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="./Css/about-page.css">
@section AboutHtml{
    <div class="background-image-container">
        <div class="background-image">
            <img src="./Images/about-page/images/about-background.jpg" alt="Image 1">
        </div>
        <div class="breadcrumbs-title-container">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li>Home</li>
                    <img style="width: 15px;" src="./Images/about-page/icons/arrow-right.png">
                    <li>About Us</li>
                </ul>
            </div>
            <div class="title">
                <h1>About Us</h1>
            </div>
        </div>
        <div class="dashed-line">
            <img src="./Images/about-page/images/image-lines-header.jpg">
        </div>
    </div>
}
<section id="container">
    <div class="about-container">
        <div class="about-background">
            <img class="fade-image" style="width: 400px; height: 400px;" src="./Images/about-page/images/about-background.png">
            <div style="width: 800px;" class="about-text">
                    <img src="~/Images/home-page/icons/film-icon.jpg" style="width:40px;justify-content:center; align-items:center ">
                <h3>Get To Know</h3>
                <h2>ABOUT AOVIS ENTERTAINMENT</h2>
                <p>
                    Vue Entertainment (Vue) is a leader in the premium entertainment cinema sector in the UK.<br><br>
                    Committed to continued growth and development of its premium entertainment ‘big screen’ experience, Vue
                    delivers the best choice of content, combined with the best technology in the best environment.<br><br>
                    Vue has 91 state of the art cinemas throughout the UK and Ireland, with over 870 screens. This includes 271
                    3D screens, 11 Extreme Screens, 7 Gold Class screens, 6 Scene Screens and Bars and 3 IMAX screens where Vue
                    project the majority of our films in Sony Digital Cinema 4K for ultra high definition pictures with four
                    times more detail. With over 150,000 seats, 98% of which are stadium seating, Vue's innovative development
                    programme has led the way in the UK. Vue Westfield London (February 2010) and Vue Westfield Stratford City
                    (September 2011) remain the first and third highest grossing cinemas in the country.<br><br>
                    Vue Cinemas around the UK offer a range of content, in addition to highly anticipated blockbusters, with
                    event cinema titles including opera, ballet, musicals, national theatre, live streaming of sporting events
                    and concerts through to hosting Gaming championships and dedicating multiple screens to eGaming arenas.
                </p>
            </div>
        </div>
        <div class="about-images">
            <img src="./Images/about-page/images/stepped-seating.jpg">
            <img src="./Images/about-page/images/dolby-sound.jpg">
            <img src="./Images/about-page/images/sony4K.jpg">
        </div>
    </div>

</section>
