@model ResetPasswordViewModel
<link rel="stylesheet" href="~/Css/reset-password.css">
<div class="background-image-container">
    <div class="background-image">
        <img style=" filter: brightness(0.5); " src="~/Images/my-account/images/login-register.jpg" alt="Image 1">
    </div>
    <div class="breadcrumbs-title-container">
        <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li>Home</li>
                <img style="width: 15px;" src="~/Images/my-account/icons/arrow-right.png">
                <li>My Account</li>
            </ul>
        </div>
        <div class="title">
            <h1>Reset Password</h1>
        </div>
    </div>
    <div class="dashed-line">
        <img src="~/Images/my-account/images/image-lines-header.jpg">
    </div>
</div>
<!--End of Navbar section-->

<section id="container">
    <div class="reset-password-container">
        <div class="reset-password-text">
            <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
        </div>
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
        <form method="post" class="reset-container">

        <div class="reset-input">
            <input hidden asp-for="Token" class="form-control" required>
        </div>
            <div class="reset-input">
                <input hidden asp-for="Email" class="form-control" required>
            </div>
        <div class="reset-input">
            <label asp-for="Password" class="label">Password<span class="required"></span></label>
            <input  asp-for="Password" type="password" id="username-email" class="email" required>
        </div>
        <div class="reset-input">
            <label asp-for="ConfirmPassword" class="label">Confirm Password<span class="required"></span></label>
            <input  asp-for="ConfirmPassword" type="password" id="username-email" class="email" required>
        </div>
            <button type="submit" class="reset-button" style="line-height: 1.1em; font-size: 1em; font-weight: 600; text-decoration: none; color: #515151;">
                Reset Password
            </button>

        </form>
    </div>
</section>
<script src="~/Js/my-account.js"></script>
<script src="~/Js/toggle-password.js"></script>
