
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="./Css/faq-page.css">
@section FaqHtml{
    <nav>
        <div class="background-image-container">
            <div class="background-image">
                <img src="./Images/faq-page/images/movie-detail-background.jpg" alt="Image 1">
            </div>
            <div class="breadcrumbs-title-container">
                <div class="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>Home</li>
                        <img style="width: 15px;" src="./Images/faq-page/icons/arrow-right.png">
                        <li>Our Faqs</li>
                    </ul>
                </div>
                <div class="title">
                    <h1>Our Faqs</h1>
                </div>
            </div>
            <div class="dashed-line">
                <img src="./Images/faq-page/images/image-lines-header.jpg">
            </div>
        </div>
    </nav>
}
    <section id="container">
        <div class="sidebar">
            <ul class="sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-section="should">
                        <img src="./Images/faq-page/icons/arrow-right (2).png">Should
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-section="when">
                        <img src="./Images/faq-page/icons/arrow-right (2).png">When
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-section="how">
                        <img src="./Images/faq-page/icons/arrow-right (2).png">How
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-section="what">
                        <img src="./Images/faq-page/icons/arrow-right (2).png">What
                    </a>
                </li>
            </ul>
        </div>
        <div class="faq-container">
            <div class="faq-section" id="should">
                <div class="accordion-item">
                    <button class="accordion-button" aria-expanded="false">
                        <span class="accordion-title">
                            Should I use internal employees or hire professional actors in my
                            video?
                        </span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Aliquam viverra arcu. Donec aliquet blandit simply free text enim feugiat. Suspendisse id quam sed eros
                            tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non. Cras tincidunt
                            imperdiet leo non luctus. Sed a pellentesque erat.Sed quis massa aliquet, tincidunt sapien sit amet,
                            scelerisque diam. In maximus, leo a fringilla semper, lorem augue.
                        </p>
                    </div>
                </div>

            </div>
            <div class="faq-section" id="when">
                <div class="accordion-item">
                    <button class="accordion-button" aria-expanded="false">
                        <span class="accordion-title">When does a certain movie come out on dvd?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Aliquam viverra arcu. Donec aliquet blandit simply free text enim feugiat. Suspendisse id quam sed eros
                            tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non. Cras tincidunt
                            imperdiet leo non luctus. Sed a pellentesque erat.Sed quis massa aliquet, tincidunt sapien sit amet,
                            scelerisque diam. In maximus, leo a fringilla semper, lorem augue.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button" aria-expanded="false">
                        <span class="accordion-title">When does a certain movie come out on dvd?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Aliquam viverra arcu. Donec aliquet blandit simply free text enim feugiat. Suspendisse id quam sed eros
                            tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non. Cras tincidunt
                            imperdiet leo non luctus. Sed a pellentesque erat.Sed quis massa aliquet, tincidunt sapien sit amet,
                            scelerisque diam. In maximus, leo a fringilla semper, lorem augue.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq-section" id="how">
                <div class="accordion-item">
                    <button class="accordion-button" aria-expanded="false">
                        <span class="accordion-title">How do I submit ideas or scripts to be considered?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Aliquam viverra arcu. Donec aliquet blandit simply free text enim feugiat. Suspendisse id quam sed eros
                            tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non. Cras tincidunt
                            imperdiet leo non luctus. Sed a pellentesque erat.Sed quis massa aliquet, tincidunt sapien sit amet,
                            scelerisque diam. In maximus, leo a fringilla semper, lorem augue.
                        </p>
                    </div>
                </div>
                <div class="accordion-item">
                    <button class="accordion-button" aria-expanded="false">
                        <span class="accordion-title">How do I submit ideas or scripts to be considered?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Aliquam viverra arcu. Donec aliquet blandit simply free text enim feugiat. Suspendisse id quam sed eros
                            tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non. Cras tincidunt
                            imperdiet leo non luctus. Sed a pellentesque erat.Sed quis massa aliquet, tincidunt sapien sit amet,
                            scelerisque diam. In maximus, leo a fringilla semper, lorem augue.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq-section" id="what">
                <div class="accordion-item">
                    <button class="accordion-button" aria-expanded="false">
                        <span class="accordion-title">Preparation of documents required for the planned route?</span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Aliquam viverra arcu. Donec aliquet blandit simply free text enim feugiat. Suspendisse id quam sed eros
                            tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non. Cras tincidunt
                            imperdiet leo non luctus. Sed a pellentesque erat.Sed quis massa aliquet, tincidunt sapien sit amet,
                            scelerisque diam. In maximus, leo a fringilla semper, lorem augue.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
