@model List<Blog>

@foreach (var item in Model)
{
    <li class="search-nameli" style="list-style:none; padding-top:5px;">
        <a style="color:white !important; text-decoration:none; " asp-action="Detail" asp-route-id="@item.Id">
            <img src="~/Images/blog-page/images/@item.Image" alt="banner" width="70" height="70">
            <p style="width:100%">
                @item.Title
            </p>
        </a>
    </li>
}